* {
	font-family: "Source Code Pro Bold";
	font-weight: bold;
	transition: 0.2s;
}

#window {
	border: 2px solid @theme_selected_bg_color;
	border-radius: 8px;
}

#box {
	margin: 10px;
}

/*#button-shutdown,*/
#button-reboot,
#button-lock,
#button-logout,
#button-sleep {	
	margin-top: 5px;
}