* {
	font-family: "Source Code Pro Bold";
	font-size: 12px;
}

tooltip {
	background-color: @theme_base_color;
	border: 1px solid @theme_selected_bg_color;
	color: @theme_text_color;
}

tooltip label {
	margin-top: 2px;
}

window#waybar {
	background-color: @theme_base_color;
	border: none;
	border-radius: 12px;
	color: @theme_text_color;
}

#workspaces,
#custom-notification,
#mpris,
#clock,
#custom-language,
#custom-pulseaudio,
#network,
#custom-battery,
#custom-power {
	margin: 5px 0px;
	background-color: #38414e/*shade(@insensitive_base_color, 1.55)*/; /* #3b4252 */
}

#workspaces {
	margin: 5px 0px 5px 5px;
	padding: 0px 5px;
	border-radius: 15px;
}

#workspaces button {
	padding: 4px 10px 0px 10px;
	min-width: 0;
}

#workspaces button:hover {
	background-color: @wm_button_hover_color_a; /* #2e3440 for all background-color [^urgent] */
	border-radius: 10px;
}

#workspaces button.active {
	color: @theme_selected_bg_color;
}

#workspaces button.active:hover {
	background-color: @wm_button_hover_color_a;
	border-radius: 10px;
}

#workspaces button.urgent {
	background-color: @wm_button_close_hover_bg; /* #bf616a */
	color: @insensitive_base_color; /* #2e3440 */
	border-radius: 10px;
}

#workspaces button.urgent:hover {
	background-color: #b85f68; /* @error_color  */ /* #b85f68 */
}

#custom-notification {
	margin: 5px;
	padding: 0px 10px;
	border-radius: 15px;
	font-family: "Font Awesome 6 Sharp";
	min-width: 20px;
}

#mpris {
	padding: 0px 15px;
	border-radius: 15px;
}

#clock {
	padding: 4px 15px 0px 15px;
	border-radius: 15px;
}

#custom-language {
	padding: 4px 5px 0px 15px;
	border-radius: 15px 0px 0px 15px;
	min-width: 15px;
}

#custom-pulseaudio {
	padding-right: 5px;
	padding-left: 7px;
	font-family: "Font Awesome 6 Sharp";
	min-width: 15px;
}

#network {
	padding-right: 10px;
	padding-left: 6px;
}

#custom-battery {
	padding: 0px 7px;
	border-radius: 0px 15px 15px 0px;
}

#custom-power {
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 15px;
	padding-right: 7px;
	padding-left: 5px;
	min-width: 15px;
	color: #a1414b; /*@wm_button_close_active_bg*/
}
