.blank-window {
	background-color: transparent;
}

.control-center {
	background-color: @theme_base_color;
	border-radius: 8px;
	border: 2px solid @theme_selected_bg_color;
}

.control-center-list,
.notification-row,
.notification,
.notification-content {
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	border: none;
	border-radius: 0px;
}

.notification-row {
	margin: 5px 10px;
	border: 2px solid transparent;
}

.notification-row:hover {
	border-radius: 14px;
}

.notification-row:focus {
	border: 2px solid #454951;
	border-radius: 14px;
}

.notification-action,
.notification-default-action {
	background-color: #38414e;
	border: 2px solid transparent;
	border-radius: 12px;
}

.low .notification-action:hover,
.low .notification-default-action:hover,
.normal .notification-action:hover,
.normal .notification-default-action:hover,
.critical .notification-action:hover,
.critical .notification-default-action:hover,
.notification-action:hover,
.notification-default-action:hover {
	border: 2px solid @theme_selected_bg_color;
}

.notification-action:focus,
.notification-default-action:focus {
	border: 2px solid #454951;
}




.floating-notifications .notification-row {
	margin: 10px 0px 0px 10px;
}

.floating-notifications .notification-action,
.floating-notifications .notification-default-action {
	background-color: #38414e;
	border: 2px solid @theme_selected_bg_color;
	border-radius: 12px;
}

.floating-notifications .notification-action:hover,
.floating-notifications .notification-default-action:hover {
	border: 2px solid @theme_selected_bg_color;
}

.floating-notifications .notification-action:focus,
.floating-notifications .notification-default-action:focus {
	border: 2px solid @theme_selected_bg_color;
}



.low {
}

.normal {
}

.critical .notification-action,
.critical .notification-default-action {
	border: 2px solid rgba(255, 0, 0, 0.3);
}



.image {
	margin: 10px 0px 10px 10px;
}

.summary {
	margin-top: 5px;
	margin-left: 10px;
}

.body {
	margin-bottom: 5px;
	margin-left: 10px;
}

.time {
	margin-top: 5px;
	color: transparent;
	font-size: 1px;
}




.widget-title {
	margin: 10px 10px 5px 10px;
}

.widget-dnd {
	margin: 0px 10px 10px 10px;
	padding: 0px;
}




.close-button {
	margin: 5px 3px 0px 0px;
}

button,
.close-button {
	background-color: #353a42;
	border: none;
}

button:hover,
.close-button:hover {
	background-color: #454951;
}

switch {
	transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
	margin: 6px 0;
	border: none;
	border-radius: 9999px;
	background-color: rgba(255, 255, 255, 0.5);
	background-clip: padding-box;
	font-size: 0;
	color: transparent;
}

switch:checked {
	background-color: @theme_selected_bg_color;
}

switch:disabled {
	opacity: 0.5;
}

switch slider {
	transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
	min-width: 18px;
	min-height: 18px;
	margin: 3px;
	border-radius: 9999px;
	outline: none;
	box-shadow: 0 3px 2px -2px rgba(0, 0, 0, 0.05), 0 2px 3px -1px rgba(0, 0, 0, 0.06), 0 1px 4px 0 rgba(0, 0, 0, 0.05);
	background-color: white;
	border: none;
	color: transparent;
}

switch:focus slider, switch:hover slider, switch:focus:hover slider {
	box-shadow: 0 0 0 6px rgba(255, 255, 255, 0.12);
}