* {
    font-family: "Source Code Pro Bold";
    font-weight: bold;
    transition: 0.2s;
}

/*
window {
    border: 2px solid @theme_selected_bg_color;
    background-color: @theme_base_color;
    border-radius: 8px;
    font-size: 13px;
}
*/

#menu #pin {
}

#menu #delete {
}

#menu #clear {
    
}

#empty-icon {
    margin-top: 160px;
    font-size: 40px;
}

#empty-text {
    margin-top: 5px;
    font-size: 25px;
}

#box {
    margin: 4px;
}

#entry {
    margin: 0px;
    padding: 0px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: transparent;
    color: @theme_text_color;
}

#entry:focus {
    border: 2px solid transparent;
    background-color: #38414e;
}

#entry #text {
    padding: 10px;
}

#entry #image {
    padding: 10px;
}