* {
    font-family: "Source Code Pro Bold";
    font-weight: bold;
    transition: 0.2s;
}

window {
    border: 2px solid @theme_selected_bg_color;
    border-radius: 8px;
}

#box {
	margin: 10px;
}

#entry, #entry-selected {
	border-radius: 8px;
}

#entry:focus, #entry-selected {
    background-color: #38414e;
}

#entry-connected, #entry-selected-connected {
	border: 2px solid @theme_selected_bg_color;
	border-radius: 8px;
}

#entry-connected:focus, #entry-selected-connected {
	border: 2px solid @theme_selected_bg_color;
    background-color: #38414e;
}

#info {
	margin-top: 15px;
}

#info #ssid {
	margin-left: 10px;
}

#info #strength {
}

#menu {
}

#menu #input {
	margin: 15px 2px -10px 2px;
	font-weight: normal;
}

#menu #connect {
	border-radius: 8px;
	margin: 15px 2px 2px 2px;
}

#menu #connect:focus {
	box-shadow: none;
}

#menu #forget {
	border-radius: 8px;
	margin: 3px 2px 2px 2px;
}

#menu #forget:focus {
	box-shadow: none;
}

#menu #output {
	margin: 7px 0px 5px 7px;
	color: yellow;
	font-size: 12px;
}

#wired-icon {
	margin-top: 160px;
	font-family: "Font Awesome 6 Sharp";
	font-size: 35px;
}

#wired-text {
	margin-top: 15px;
	font-size: 20px;
}